/*check here https://colorpalettes.net/color-palette-2285/ */
$dark-color: #dfb995;
$light-color: #1c1616;
$background-color: #f1e8dc;
$text-color: #f1eee9;
$black-player: #8e5b3d;
$white-player: #fffafa;
