@import "./colors";
header {
  color: $light-color;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  text-shadow: 20px 5px 20px rgba(0, 0, 0, 0.089);
  p {
    text-align: center;
    font-weight: 400;
  }
  #player-turn {
    font-weight: 200;
  }
}
