@use "./animations";
@use "./captured";
@use "./header";
@import "./colors";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 5vh;
  font-family: "Inter", sans-serif;
}

#app {
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  background-color: $background-color;

  .chess-board {
    font-size: 1vw;
    border: 5px solid $dark-color;
    border-radius: 5px;
    width: 35vw;
    height: 35vw;
    min-width: 400px;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    //shadow
    box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.082);

    // gap: 1px;
    grid-template-areas:
      "00 01 02 03 04 05 06 07"
      "10 11 12 13 14 15 16 17"
      "20 21 22 23 24 25 26 27"
      "30 31 32 33 34 35 36 37"
      "40 41 42 43 44 45 46 47"
      "50 51 52 53 54 55 56 57"
      "60 61 62 63 64 65 66 67"
      "70 71 72 73 74 75 76 77";

    .chess-cell {
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;

      .fa-solid {
        font-size: max(3vw, 30px);
      }
    }
    .chess-cell:hover {
      opacity: 0.9;
    }

    .is-dark {
      background-color: $dark-color;
    }
    .is-light {
      background-color: $light-color;
    }
    .black-player {
      color: $black-player;
    }
    .white-player {
      color: $white-player;
    }
    i {
      pointer-events: none;
    }
  }
}
